# --- Données confidentielles ---
data/raw/*
data/processed/*

# --- Fichiers Python techniques ---
__pycache__/
*.py[cod]
*$py.class

# --- Environnement virtuel ---
venv/
.venv/
env/
.env

# --- Configuration Streamlit (IMPORTANT) ---
# Empêche de publier tes mots de passe et clés API en local
.streamlit/secrets.toml
.streamlit/config.toml

# --- Fichiers système ---
.DS_Store
Thumbs.db
